<html>
    <head>
        <title>Welcome Page</title>
        <link rel="stylesheet" href="/css/homePage.css">
        <link rel="shortcut icon" type="image/png" href="/images/Logo.jpg"/>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <div class="banner">
            <div class="navbar">
                <div class = "logo-name" onclick="location.href='/index'">
                    <img src="/images/Logo.jpg" class="logo"> <a href="/index" class="name">POS SYSTEM</a>
                </div>
                <ul>
                    <li><a href="/index">TRANG CHỦ</a></li>
                    <li><a href="#end-of-page">LIÊN HỆ</a></li>
                    <li><a href="#end-of-page">GIẤY PHÉP</a></li>
                    <li><a href="/about">VỀ CHÚNG TÔI</a></li>
                </ul>
            </div>

            <div class="content">
                <h1>HỆ THỐNG QUẢN LÍ CỬA HÀNG POS</h1>
                <p>Tăng hiệu quả bán hàng và quản lý cửa hàng toàn diện với Hệ thống POS! </p>
                <div>
                    <button type="button" onclick="location.href='/employeeList'"><span></span>DANH SÁCH NHÂN VIÊN</button>
                    <button type="button" onclick="location.href='/productLot'"><span></span>DANH SÁCH SẢN PHẨM</button>
                    <button type="button" onclick="location.href='/importBatch'"><span></span>KIỂM TRA NHẬP HÀNG</button>
                    <button type="button" onclick="location.href='/productBill'"><span></span>HÓA ĐƠN SẢN PHẨM</button>
                    <button type="button" onclick="location.href='/supplier'"><span></span>NHÀ CUNG CẤP</button>
                </div>
            </div>

            <div class="more-info" id = "end-of-page">
                <div>
                    <p>Thư điện tử : pos.system_management@gmail.com. <br> <br> Đường dây nóng : (+84) 975 801 426.
                        <br> <br> Địa chỉ : 82A Nguyễn Trọng Tuyển, Phường 15, Quận Phú Nhuận, Tp.HCM.
                    </p>
                </div>
                <div style="text-align: right; font-family: sans-serif;">
                    <p> <i class="bx bxs-copyright"></i> Bản quyền thuộc về : Gia đình CHNMV</p>
                </div>
            </div>
        </div>
    </body>
</html>
